/* Definindo a fonte do corpo */
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para botões personalizados */
.btn-custom {
    width: auto;
    height: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: none;
    transition: color 0.5s ease;
}

/* Estilos específicos para os botões de telefone */
.btn-telefone {
    color: white;
}

.btn-telefone:hover {
    color: #3498db;
}

/* Estilos específicos para os botões do WhatsApp */
.btn-whatsapp {
    color: #25d366;
}

.btn-whatsapp:hover {
    color: #128c7e;
}

/* Estilização dos textos dentro dos botões */
.content__text p {
    margin: 0;
    line-height: 1.1;
}

.content__p1, .content__p3 {
    font-size: 18px;
    color: white;
}

.content__p2, .content__p4 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 3px;
}

.content__p2 {
    color: #25d366;
}

.content__p4 {
    color: white;
}

/* Estilos para o ícone do WhatsApp */
.whatsapp-icon {
    width: 45px;
    margin-right: 10px; /* Ajustado o espaçamento entre o ícone e o texto */
}

.fa-whatsapp-icon {
    margin-right: 0; /* Ajustado o espaçamento entre o ícone e o texto */
}

/* Estilos para o carrossel */
.carousel-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1200 / 365;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.carousel-inner {
    width: 100%;
    max-width: 100%;
}

/* Cor do fundo do nav */
.nav-color {
    background-color: black;
}

/* Estilos de responsividade para telas pequenas */
@media (max-width: 767.98px) {
    .content__text {
        display: none !important;
    }

    .whatsapp-icon {
        width: 40px !important;
        height: 40px !important;
        margin-right: 0 !important;
    }

    .btn-custom {
        padding: 10px !important;
        justify-content: center;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        aspect-ratio: 600 / 400;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
}

/* Estilos para os cards */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    text-align: center;
    background-color: #E41E25;
}

.card-title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    margin-top: 10px;
}

.card-btn {
    margin-top: 15px;
}

/* Estilos para o hover no card */
.card:hover {
    cursor: pointer;
}

/* Estilos para os botões dentro dos cards */
.card .btn {
    background-color: #D5B31B;
    color: black;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card .btn:hover {
    background-color: #0da21a;
    color: white;
}
